extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p The following routes can be used:
  ul
    li
      p <b>PATCH /authenticate</b>
        <br/>body values (application/x-www-form-urlencoded) : email , password
    li
      p <b>GET /user</b>
        <br/>get user list
    li
      p <b>GET /user/<i>mail</i></b>
        <br/>to search a user based on his email
    li
      p <b>GET /apartment</b>
        <br/>get apartment list
    li
      p <b>GET /apartment/<i>city</i></b>
        <br/>to search for all houses from a specific city
    li
      p <b>GET /book</b>
        <br/>get booking list
    li
      p <b>GET /book/<i>IdApartment</i></b>
        <br/>get booking list for an apartment
    li
      p <b>POST /book</b>
        <br/>get booking list
        <br>body values (application/x-www-form-urlencoded) : apartment, start, end
    li
      p <b>POST /mail</b>
        <br/>to send an email
        <br/>body values (application/x-www-form-urlencoded) : to, subject, message
        <br/>to = email that will receive the emails
        <br/>subject = subject of the email
        <br/>message = text content of the email
    li
      p <b>GET /message</b>
        <br/>messaging html interface
    li
      p <b>POST /message</b>
        <br/>body values (application/x-www-form-urlencoded) : text
        <br/>text = the message text